body {
    margin: 0;
background-color:antiquewhite;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-direction: column;
}

.header .top-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    align-items: center;
}

.header img {
    height: 50px;
}

.header .title {
    font-size: 2rem;
    color: #444;
    font-weight: bold;
    margin: -50px 0 0 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.header .back-button {
    background: none;
    border: none;
    font-size: 1.2rem;
    color: #350f04;
    cursor: pointer;
}

.slider {
    position: relative;
    max-width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 35px;
}

.slider-item {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: left 0.6s ease-in-out;
}

.slider-item.active {
    left: 0;
}

.slider img {
    max-width: 60%;
    max-height: 60%;
    border-radius: 10px;
}

.content {
    margin-top: 0px;
    text-align: center;
}

.content h2 {
    color: #ff7b54;
    font-size: 2rem;
}

.content p {
    font-size: 1.1rem;
    color: #444;
}

.content .price {
    font-weight: bold;
}

.controls {
    position: absolute;
    top: 56%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.control {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 1rem;
}

.control:hover {
    background: #e0a796;
}
.price{
    width: 150px;
    height: 50px;
    background-color:rgb(27, 22, 2);
    margin: auto;
    padding-top: 13px;
    border-radius: 30px;
    color: chocolate !important;
}
/* /////////////////////////////// animation ////////////////////////////// */

.scale-in-center {
    opacity: 0;
    transform: scale(0); /* يبدأ بحجم صغير من المنتصف */
    animation: scaleIn 0.3s forwards; /* مدة الحركة 1 ثانية */
  }
  
  /* Keyframes لتأثير التكبير */
  @keyframes scaleIn {
    0% {
      opacity: 0;
      transform: scale(0); /* تبدأ بحجم 0 */
    }
    100% {
      opacity: 1;
      transform: scale(1); /* تصل إلى حجمها الطبيعي */
    }
  }